<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css", href="{{url_for('static', filename='styles/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css", href="{{url_for('static', filename='styles/style.css')}}">
    <link rel="stylesheet" type="text/css", href="{{url_for('static', filename='styles/font-awesome/css/font-awesome.min.css')}}">
    <title>Mini Search</title>
</head>
<body>
   
    <section class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 text-center mt-5 p-5 textup">
                    <a href="/" class="btn">
                        <h1 class="text-monospace text-uppercase mt-5 text-primary">Ultra <span class="text-success">Search</span></h1>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <form action="/process" method="POST">
                      <div class="input-group card-body shadow rounded p-1">
                        <input type="search" name="q" placeholder="Search" class="form-control border-0 rounded">
                        <div class="input-group-btn"><button class="btn btn-link text-dark" type="submit">
                            <i class="fa fa-search"></i>
                        </button></div>
                      </div>  
                    </form>
                    
                </div>
            </div>
        </div>
    </section>
    <script>
        document.cookie = `userAgent = navigator.userAgent`;
    </script>
    <style>
        @media only screen and (min-width:150px) and (max-width:640px){
            .textup{
                text-align: center;
                width: 100%;
                transform: translateX(-25%);
            }
        }
    </style>
</body>
</html>
